<%- include('bootheader') -%>
<%- include('menubar') -%>
    <div class="jumbotron">
        <h1>List of Reviews</h1>
        <p>add reviews for all of your favorite restaurants!!</p>
    </div>

    Your Reviews<br>

    restaurant entered: <%= url %><br>
    Review <br> <%= coms %>

<%- include('bootfooter') -%>
